<!doctype html>
<html lang="en">
  <head>
    <title>Article &mdash; Kidney Failure Prediction</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/fonts/icomoon/style.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/images/kidney.png" type="image/png">
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div class="site-wrap" id="home-section">
      <header class="site-navbar site-navbar-target" role="banner">
        <div class="container">
          <div class="row align-items-center position-relative">
            <div class="col-3">
              <div class="site-logo">
                <a href="/" class="font-weight-bold">
                  <img src="../static/images/kidney.png" alt="Image" class="img-fluid" style="width: 120px; height: auto;">
                </a>
              </div>
            </div>
            <div class="col-9 text-right">
              <span class="d-inline-block d-lg-none">
                <a href="#" class="text-white site-menu-toggle js-menu-toggle py-5 text-white">
                  <span class="icon-menu h3 text-white"></span>
                </a>
              </span>
              <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                  <li><a href="/" class="nav-link">HOME</a></li>
                  <li><a href="about" class="nav-link">CHATBOT</a></li>
                  <li><a href="trips" class="nav-link">PREDICT</a></li>
                  <li class="active"><a href="blog" class="nav-link">ARTICLE</a></li>
                  <li><a href="contact" class="nav-link">FEEDBACK</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </header>

      <div class="ftco-blocks-cover-1">
        <div class="site-section-cover overlay" style="background-image: url('../static/images/article.png'); background-size: cover; background-position: center;">
          <div class="container">
            <div class="row align-items-center justify-content-center text-center">
              <div class="col-md-5" data-aos="fade-up">
                <h1 class="mb-3 text-white">Our Article</h1>
                <p>Artikel mengenai penyakit gagal ginjal kronis</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="site-section">
        <div class="container">
          <div class="row mb-5">
            <div class="col-lg-12 mb-4">
              <div class="post-entry-1 h-100 d-flex flex-column flex-md-row">
                <img src="../static/images/blogpert.jpg" alt="Image" class="img-fluid" style="width: 276px; height: auto;">
                <div class="post-entry-1-contents">
                  <h2>Memahami Stadium Penyakit Ginjal: Dari Ringan Hingga Gagal Ginjal</h2>
                  <span class="meta d-inline-block mb-3">May 2, 2024</span>
                  <p> Penyakit ginjal kronis merupakan kondisi medis serius yang menggambarkan penurunan bertahap fungsi ginjal. Progresif dan seringkali diam, penyakit ginjal kronis dibagi menjadi beberapa stadium yang mencerminkan tingkat keparahan penyakit. Dari deteksi dini hingga gagal ginjal, memahami stadium penyakit ini dapat membantu pasien dan penyedia layanan kesehatan merencanakan pengobatan yang lebih efektif dan mengambil langkah pencegahan yang dapat mengubah jalannya penyakit.</p>
                  <a href="single" class="btn btn-primary mt-auto align-self-start">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-lg-12 mb-4">
              <div class="post-entry-1 h-100 d-flex flex-column flex-md-row">
                <img src="../static/images/cover2.jpeg" alt="Image" class="img-fluid" style="width: 276px; height: auto;">
                <div class="post-entry-1-contents">
                  <h2>10 Tanda Peringatan Dini Penyakit Ginjal Kronis yang Sering Diabaikan</h2>
                  <span class="meta d-inline-block mb-3">May 4, 2024</span>
                  <p>Penyakit ginjal kronis (PGK) sering disebut sebagai "pembunuh diam-diam" karena gejalanya sering kali muncul secara perlahan dan mudah diabaikan. Padahal, deteksi dini dan pengobatan yang tepat sangatlah penting untuk mencegah komplikasi serius dan meningkatkan kualitas hidup. Berikut 10 tanda peringatan dini PGK yang sering diabaikan:</p>
                  <a href="single2" class="btn btn-primary mt-auto align-self-start">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-lg-12 mb-4">
              <div class="post-entry-1 h-100 d-flex flex-column flex-md-row">
                <img src="../static/images/cover3.jpeg" alt="Image" class="img-fluid" style="width: 276px; height: auto;">
                <div class="post-entry-1-contents">
                  <h2>Memahami Gagal Ginjal Kronis: Mengenal, Mencegah, dan Mengelola</h2>
                  <span class="meta d-inline-block mb-3">May 7, 2024</span>
                  <p>Gagal ginjal kronis adalah suatu proses patofisiologis dengan etiologi yang beragam, yang mengakibatkan penurunan fungsi ginjal yang progresif, dan pada umumnya berakhir dengan gagal ginjal. Gagal ginjal merupakan suatu keadaan klinis yang ditandai dengan menurunnya fungsi ginjal yang bersifat irreversible, dan memerlukan terapi pengganti ginjal yaitu berupa dialisis atau transplantasi ginjal. Selain itu gagal ginjal kronik juga dapat diartikan dengan terjadinya….</p>
                  <a href="single3" class="btn btn-primary mt-auto align-self-start">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-lg-12 mb-4">
              <div class="post-entry-1 h-100 d-flex flex-column flex-md-row">
                <img src="../static/images/cover4.jpeg" alt="Image" class="img-fluid" style="width: 276px; height: auto;">
                <div class="post-entry-1-contents">
                  <h2>Hidup Sehat untuk Mencegah Gagal Ginjal Kronis: Langkah-Langkah Praktis untuk Kesehatan Ginjal yang Optimal</h2>
                  <span class="meta d-inline-block mb-3">May 10, 2024</span>
                  <p>Gagal ginjal kronis (GGK) adalah masalah kesehatan serius yang dapat dihindari dengan gaya hidup sehat yang tepat. Berikut adalah beberapa langkah praktis yang dapat membantu anda menjaga kesehatan ginjal Anda dan mengurangi risiko terkena GGK</p>
                  <a href="single4" class="btn btn-primary mt-auto align-self-start">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="site-footer bg-light">
        <div class="container">
            <div class="row pt-3 text-center">
                <div class="col-md-12">
                    <p><strong>KidneyTrackPlus (Kidney Failure Predict)</strong><br>
                    Orbit Future Academy - Artificial Intelligence 4 Jobs<br>
                    4 Sehat 5 Sempurna - Constellar</p>
                    <div class="mt-3">
                        <img src="../static/images/orbit.png" alt="University Logo" class="university-logo" width="80">
                        <img src="../static/images/kampusmerd.png" alt="University Logo" class="university-logo" width="80">
                        <img src="../static/images/unair.png" alt="University Logo" class="university-logo" width="80">
                        <img src="../static/images/upn.png" alt="University Logo" class="university-logo" width="80">
                        <img src="../static/images/jombang.png" alt="University Logo" class="university-logo" width="80">
                        <img src="../static/images/semarang.png" alt="University Logo" class="university-logo" width="80">
                    </div>
                </div>
            </div>
            <div class="row pt-3 text-center">
                <div class="col-md-12">
                    <div class="border-top pt-3">
                        <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> 4 Sehat 5 Sempurna Constellar</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/jquery-migrate-3.0.0.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/jquery.sticky.js"></script>
    <script src="../static/js/jquery.waypoints.min.js"></script>
    <script src="../static/js/jquery.animateNumber.min.js"></script>
    <script src="../static/js/jquery.fancybox.min.js"></script>
    <script src="../static/js/jquery.stellar.min.js"></script>
    <script src="../static/js/jquery.easing.1.3.js"></script>
    <script src="../static/js/bootstrap-datepicker.min.js"></script>
    <script src="../static/js/isotope.pkgd.min.js"></script>
    <script src="../static/js/aos.js"></script>

    <script src="../static/js/main.js"></script>

</body>

</html>
