<!doctype html>
<html lang="en">

<head>
    <title>Memahami Gagal Ginjal Kronis &mdash; Kidney Failure Prediction</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/fonts/icomoon/style.css">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="../static/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../static/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="../static/css/aos.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/images/kidney.png" type="image/png">

    <style>
        body, html {
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            overflow-x: hidden;
        }

        .site-navbar {
            margin-bottom: 0;
        }

        .site-section {
            padding: 0;
        }

        .site-section-cover {
            height: 100vh;
            background-size: cover;
            background-position: center;
        }

        .blog-content {
            padding: 2rem 0;
        }

        .footer-heading {
            margin-bottom: 0.5rem;
        }

        .footer {
            padding: 2rem 0;
        }
    </style>
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div class="site-wrap" id="home-section">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        <header class="site-navbar site-navbar-target" role="banner">
            <div class="container">
                <div class="row align-items-center position-relative">
                    <div class="col-3">
                        <div class="site-logo">
                            <a href="/" class="font-weight-bold">
                                <img src="../static/images/kidney.png" alt="Image" class="img-fluid" style="width: 120px; height: auto;">
                            </a>
                        </div>
                    </div>

                    <div class="col-9 text-right">
                        <span class="d-inline-block d-lg-none">
                            <a href="#" class="text-white site-menu-toggle js-menu-toggle py-5 text-white">
                                <span class="icon-menu h3 text-white"></span>
                            </a>
                        </span>

                        <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                            <ul class="site-menu main-menu js-clone-nav ml-auto ">
                                <li><a href="/" class="nav-link">HOME</a></li>
                                <li><a href="about" class="nav-link">CHATBOT</a></li>
                                <li><a href="trips" class="nav-link">PREDICT</a></li>
                                <li class="active"><a href="blog" class="nav-link">ARTICLE</a></li>
                                <li><a href="contact" class="nav-link">FEEDBACK</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <div class="ftco-blocks-cover-1">
            <div class="site-section-cover overlay" data-stellar-background-ratio="0.5" style="background-image: url('../static/images/blog3.jpg')">
                <div class="container">
                    <div class="row align-items-center justify-content-center text-center">
                        <div class="col-md-7">
                            <span class="d-block mb-3 text-white" data-aos="fade-up">May 7, 2024 <span class="mx-2 text-primary">&bullet;</span> by 4 Sehat 5 Sempurna</span>
                            <h1 class="mb-4" data-aos="fade-up" data-aos-delay="100">Memahami Gagal Ginjal Kronis: Mengenal, Mencegah, dan Mengelola</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 blog-content">

                        <h2>Gagal Ginjal Kronis</h2>

                        <blockquote>
                            <p>Gagal ginjal kronis adalah suatu proses patofisiologis dengan etiologi yang beragam, yang mengakibatkan penurunan fungsi ginjal yang progresif, dan pada umumnya berakhir dengan gagal ginjal.  Gagal ginjal merupakan suatu keadaan klinis yang ditandai dengan menurunnya fungsi ginjal yang bersifat irreversible, dan memerlukan terapi pengganti ginjal yaitu berupa dialisis atau transplantasi ginjal.  Selain  itu  gagal  ginjal  kronik juga dapat diartikan dengan terjadinya kerusakan ginjal  (renal damage)  yang terjadi lebih dari 3 bulan, berupa kelainan  struktural  atau  fungsional,  dengan  atau  tanpa  penurunan  laju  filtrasi glomerulus (LFG), dengan   manifestasi   adanya   kelainan   patologis, adanya kelainan ginjal seperti kelainan dalam komposisi darah atau urin serta adanya   kelainan   pada   tes   pencitraan   (imaging   tests)   serta   laju   filtrasi glomerulus (LFG) kurang dari 60 ml/mnt/1.73 m2 (Nurchayati, 2010).</p>
                        </blockquote>
                        <img src="../static/images/kronis.jpg" alt="Kesehatan Ginjal" class="img-fluid mb-4">

                        <h2>Penyebab dan Faktor Risiko</h2>

                        <p>Berbagai kondisi medis, seperti diabetes dan tekanan darah tinggi, adalah penyebab umum dari GGK kronis, seperti:</p>
                        <ul>
                            <li>Pola makan yang tidak sehat</li>
                            <li>Kurangnya aktivitas fisik</li>
                            <li>Penggunaan obat-obatan tertentu juga dapat meningkatkan risiko terkena GGK</li>
                            <li>Faktor-faktor genetik dan gaya hidup juga turut berperan dalam perkembangan penyakit ini</li>
                        </ul>

                        <h2>Gejala dan Diagnosis </h2>

                        <blockquote>
                            <p>Pada tahap awal, GGK mungkin tidak menimbulkan gejala yang nyata. Namun, ketika kondisinya semakin memburuk, gejala seperti kelelahan, tekanan darah tinggi, pembengkakan kaki, dan penurunan berat badan tanpa sebab yang jelas dapat muncul. Diagnosis ditegakkan melalui pemeriksaan darah, urine, serta pemindaian gambaran seperti USG atau CT scan.</p>
                        </blockquote>
                        <img src="../static/images/gglkronis.jpg" alt="Kesehatan Ginjal" class="img-fluid mb-4">

                        <h2>Pencegahan dan Pengelolaan</h2>

                        <p>Langkah-langkah pencegahan meliputi:</p>
                        <ul>
                            <li>Menjaga tekanan darah dan kadar gula darah dalam batas normal</li>
                            <li>Mengadopsi pola makan sehat rendah garam dan rendah lemak</li>
                            <li>Rutin berolahraga, serta menghindari konsumsi alkohol dan merokok</li>
                            <li>Mengelola kondisi penderita diabetes dan tekanan darah tinggi dengan baik juga sangat penting</li>

                        </ul>

                        <div class="pt-5">
                            <p>Sumber informasi:
                                <a href="https://www.kidney.org/atoz/content/about-chronic-kidney-disease">National Kidney Foundation. (2022). Chronic Kidney Disease</a>,
                                <a href="https://www.alodokter.com/gagal-ginjal-kronis">Gagal Ginjal Kronis</a>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
<!-- START sidebar-box -->
<div class="sidebar-box">
    <h2 class="heading">Popular Posts</h2>
    <div class="post-entry-sidebar">
        <a href="single">
            <img src="../static/images/blogpert.jpg" alt="Image placeholder" class="me-4 rounded">
            <div class="text">
                <h3>Memahami Stadium Penyakit Ginjal: Dari Ringan Hingga Gagal Ginjal</h3>
                <div class="post-meta">
                    <span class="mr-2">May 2, 2024 </span>
                </div>
            </div>
        </a>
        <a href="single2">
            <img src="../static/images/cover2.jpeg" alt="Image placeholder" class="me-4 rounded">
            <div class="text">
                <h3>10 Tanda Peringatan Dini Penyakit Ginjal Kronis yang Sering Diabaikan</h3>
                <div class="post-meta">
                    <span class="mr-2">May 4, 2024 </span>
                </div>
            </div>
        </a>
        <a href="single4">
            <img src="../static/images/cover4.jpeg" alt="Image placeholder" class="me-4 rounded">
            <div class="text">
                <h3>Hidup Sehat untuk Mencegah Gagal Ginjal Kronis: Langkah-Langkah Praktis untuk Kesehatan Ginjal yang Optimal</h3>
                <div class="post-meta">
                    <span class="mr-2">May 10, 2024 </span>
                </div>
            </div>
        </a>
    </div>
</div>
<!-- END sidebar-box -->


                    </div>
                </div>
            </div>
        </div>

        <footer class="site-footer bg-light">
            <div class="container">
                <div class="row pt-3 text-center">
                    <div class="col-md-12">
                        <p><strong>KidneyTrackPlus (Kidney Failure Predict)</strong><br>
                        Orbit Future Academy - Artificial Intelligence 4 Jobs<br>
                        4 Sehat 5 Sempurna - Constellar</p>
                        <div class="mt-3">
                            <img src="../static/images/orbit.png" alt="University Logo" class="university-logo" width="80">
                            <img src="../static/images/kampusmerd.png" alt="University Logo" class="university-logo" width="80">
                            <img src="../static/images/unair.png" alt="University Logo" class="university-logo" width="80">
                            <img src="../static/images/upn.png" alt="University Logo" class="university-logo" width="80">
                            <img src="../static/images/jombang.png" alt="University Logo" class="university-logo" width="80">
                            <img src="../static/images/semarang.png" alt="University Logo" class="university-logo" width="80">
                        </div>
                    </div>
                </div>
                <div class="row pt-3 text-center">
                    <div class="col-md-12">
                        <div class="border-top pt-3">
                            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> 4 Sehat 5 Sempurna Constellar</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/jquery-migrate-3.0.0.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/jquery.sticky.js"></script>
    <script src="../static/js/jquery.waypoints.min.js"></script>
    <script src="../static/js/jquery.animateNumber.min.js"></script>
    <script src="../static/js/jquery.fancybox.min.js"></script>
    <script src="../static/js/jquery.stellar.min.js"></script>
    <script src="../static/js/jquery.easing.1.3.js"></script>
    <script src="../static/js/bootstrap-datepicker.min.js"></script>
    <script src="../static/js/isotope.pkgd.min.js"></script>
    <script src="../static/js/aos.js"></script>

    <script src="../static/js/main.js"></script>

</body>

</html>
