<!doctype html>
<html lang="en">

<head>
  <title> Memahami Stadium Penyakit Ginjal &mdash; Kidney Failure Prediction</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/fonts/icomoon/style.css">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="../static/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../static/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="../static/css/aos.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/images/kidney.png" type="image/png">

    <style>
        body, html {
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            overflow-x: hidden;
        }

        .site-navbar {
            margin-bottom: 0;
        }

        .site-section {
            padding: 0;
        }

        .site-section-cover {
            height: 100vh;
            background-size: cover;
            background-position: center;
        }

        .blog-content {
            padding: 2rem 0;
        }

        .footer-heading {
            margin-bottom: 0.5rem;
        }

        .footer {
            padding: 2rem 0;
        }
    </style>
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div class="site-wrap" id="home-section">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        <header class="site-navbar site-navbar-target" role="banner">
            <div class="container">
                <div class="row align-items-center position-relative">
                    <div class="col-3">
                        <div class="site-logo">
                            <a href="/" class="font-weight-bold">
                                <img src="../static/images/kidney.png" alt="Image" class="img-fluid" style="width: 120px; height: auto;">
                            </a>
                        </div>
                    </div>

                    <div class="col-9 text-right">
                        <span class="d-inline-block d-lg-none">
                            <a href="#" class="text-white site-menu-toggle js-menu-toggle py-5 text-white">
                                <span class="icon-menu h3 text-white"></span>
                            </a>
                        </span>

                        <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                            <ul class="site-menu main-menu js-clone-nav ml-auto ">
                                <li><a href="/" class="nav-link">HOME</a></li>
                                <li><a href="about" class="nav-link">CHATBOT</a></li>
                                <li><a href="trips" class="nav-link">PREDICT</a></li>
                                <li class="active"><a href="blog" class="nav-link">ARTICLE</a></li>
                                <li><a href="contact" class="nav-link">FEEDBACK</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <div class="ftco-blocks-cover-1">
            <div class="site-section-cover overlay" data-stellar-background-ratio="0.5" style="background-image: url('../static/images/blog1.png')">
                <div class="container">
                    <div class="row align-items-center justify-content-center text-center">
                        <div class="col-md-7">
                            <span class="d-block mb-3 text-white" data-aos="fade-up">May 2, 2024 <span class="mx-2 text-primary">&bullet;</span> by 4 Sehat 5 Sempurna</span>
                            <h1 class="mb-4" data-aos="fade-up" data-aos-delay="100">Memahami Stadium Penyakit Ginjal: Dari Ringan Hingga Gagal Ginjal</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 blog-content">
                        <p class="lead">Penyakit ginjal kronis merupakan kondisi medis serius yang menggambarkan penurunan bertahap fungsi ginjal. Progresif dan seringkali diam, penyakit ginjal kronis dibagi menjadi beberapa stadium yang mencerminkan tingkat keparahan penyakit. Dari deteksi dini hingga gagal ginjal, memahami stadium penyakit ini dapat membantu pasien dan penyedia layanan kesehatan merencanakan pengobatan yang lebih efektif dan mengambil langkah pencegahan yang dapat mengubah jalannya penyakit.</p>

                        <img src="../static/images/blogpert.jpg" alt="Kesehatan Ginjal" class="img-fluid mb-4">

                        <h2>Stadium 1: Kerusakan Ginjal dengan Fungsi Ginjal Normal</h2>

                        <blockquote>
                            <p>Stadium awal penyakit ginjal kronis sering kali tidak menunjukkan gejala yang jelas. Di stadium ini, kerusakan ginjal dapat dideteksi melalui tes laboratorium yang menunjukkan adanya marker dalam urine seperti protein atau darah, serta melalui imaging atau biopsi. Fungsi ginjal mungkin masih normal atau hampir normal, yang ditunjukkan dengan laju filtrasi glomerulus (GFR) 90 ml/min/1.73 m² atau lebih. Pengelolaan pada stadium ini fokus pada intervensi untuk mengurangi risiko progresi penyakit dan melibatkan pengendalian tekanan darah, pengelolaan diabetes, dan modifikasi gaya hidup.</p>
                        </blockquote>

                        <h2>Stadium 2: Sedikit Penurunan Fungsi Ginjal</h2>

                        <p>Di stadium 2, GFR pasien berkisar antara 60 hingga 89 ml/min/1.73 m². Meskipun penurunan fungsi ginjal masih dianggap ringan dan gejala mungkin minimal atau tidak ada, deteksi dini melalui penanda biokimia dan pemeriksaan klinis tetap penting. Pengelolaan mencakup pemantauan rutin kondisi kesehatan dan intervensi untuk mengendalikan penyebab dasar kerusakan ginjal.</p>

                        <h2>Stadium 3: Kerusakan Ginjal Moderat</h2>

                        <blockquote>
                            <p>Stadium 3 dibagi menjadi dua sub-stadium: 3a (GFR 45-59 ml/min/1.73 m²) dan 3b (GFR 30-44 ml/min/1.73 m²). Pasien mungkin mulai mengalami gejala seperti kelelahan, masalah tidur, dan pembengkakan pada kaki dan pergelangan kaki. Pengelolaan di stadium ini lebih intensif, dengan fokus pada pengendalian komplikasi seperti hipertensi dan anemia, serta pemantauan erat terhadap kemajuan penyakit.</p>
                        </blockquote>

                        <h2>Stadium 4: Kerusakan Ginjal Berat</h2>

                        <p>Dengan GFR 15-29 ml/min/1.73 m², stadium 4 seringkali disertai dengan gejala yang lebih parah, termasuk penurunan nutrisi, nyeri tulang, kesulitan berkonsentrasi, dan perubahan warna kulit. Intervensi medis menjadi lebih kompleks, mencakup konsultasi dengan spesialis ginjal (nefrologis), manajemen diet khusus, dan persiapan untuk kemungkinan dialisis atau transplantasi ginjal.</p>

                        <h2>Stadium 5: Gagal Ginjal</h2>

                        <p>Stadium akhir penyakit ginjal kronis, atau gagal ginjal, terjadi ketika GFR turun di bawah 15 ml/min/1.73 m². Di tahap ini, dialisis atau transplantasi ginjal sering menjadi perlu. Gejala seperti mual, muntah, kehilangan nafsu makan, dan gangguan kognitif menjadi lebih umum. Terjadinya Penyakit Ginjal Kronis Stadium 5 biasanya diawali dengan kondisi atau penyakit lain yang mempengaruhi fungsi ginjal dalam waktu yang lama. Kondisi dan penyakit yang dapat mempengaruhi fungsi ginjal antara lain hipertensi, diabetes tipe 1 atau 2, penyakit autoimun seperti lupus serta penyakit ginjal lain.</p>

                        <img src="../static/images/5_step.png" alt="Kesehatan Ginjal" class="img-fluid mb-4">

                        <h2>Kesimpulan</h2>

                        <p>Memahami stadium penyakit ginjal kronis membantu dalam menargetkan intervensi pada waktu yang tepat untuk memperlambat progresi penyakit dan mempertahankan kualitas hidup pasien. Pendidikan pasien tentang gejala dan pengelolaan penyakit, serta keterlibatan aktif dalam pengobatan mereka, adalah kunci untuk mengelola penyakit ginjal kronis secara efektif.</p>

                        <div class="pt-5">
                            <p>Sumber informasi:
                                <a href="https://www.kidney.org/atoz/content/stages-chronic-kidney-disease-ckd">Stages of Chronic Kidney Disease</a>,
                                <a href="https://rsudpariaman.sumbarprov.go.id/read-post/penyakit-ginjal-kronis-stadium-5.html">Penyakit Ginjal Kronis Stadium 5</a>,
                                <a href="https://www.siloamhospitals.com/informasi-siloam/artikel/apa-itu-mri">Apa Itu MRI</a>,
                                <a href="https://www.alodokter.com/cari-tahu-penyebab-ketidaknormalan-tubuh-dengan-biopsi">Cari Tahu Penyebab Ketidaknormalan Tubuh dengan Biopsi</a>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <!-- START sidebar-box -->
<div class="sidebar-box">
  <h2 class="heading">Popular Posts</h2>
  <div class="post-entry-sidebar">
      <a href="single2">
          <img src="../static/images/cover2.jpeg" alt="Image placeholder" class="me-4 rounded">
          <div class="text">
              <h3>10 Tanda Peringatan Dini Penyakit Ginjal Kronis yang Sering Diabaikan </h3>
              <div class="post-meta">
                  <span class="mr-2">May 4, 2024 </span>
              </div>
          </div>
      </a>
      <a href="single3">
          <img src="../static/images/cover3.jpeg" alt="Image placeholder" class="me-4 rounded">
          <div class="text">
              <h3>Memahami Gagal Ginjal Kronis: Mengenal, Mencegah, dan Mengelola</h3>
              <div class="post-meta">
                  <span class="mr-2">May 7, 2024 </span>
              </div>
          </div>
      </a>
      <a href="single4">
          <img src="../static/images/cover4.jpeg" alt="Image placeholder" class="me-4 rounded">
          <div class="text">
              <h3>Hidup Sehat untuk Mencegah Gagal Ginjal Kronis: Langkah-Langkah Praktis untuk Kesehatan Ginjal yang Optimal</h3>
              <div class="post-meta">
                  <span class="mr-2">May 10, 2024 </span>
              </div>
          </div>
      </a>
  </div>
</div>
<!-- END sidebar-box -->

                    </div>
                </div>
            </div>
        </div>

        <footer class="site-footer bg-light">
          <div class="container">
              <div class="row pt-3 text-center">
                  <div class="col-md-12">
                      <p><strong>KidneyTrackPlus (Kidney Failure Predict)</strong><br>
                      Orbit Future Academy - Artificial Intelligence 4 Jobs<br>
                      4 Sehat 5 Sempurna - Constellar</p>
                      <div class="mt-3">
                          <img src="../static/images/orbit.png" alt="University Logo" class="university-logo" width="80">
                          <img src="../static/images/kampusmerd.png" alt="University Logo" class="university-logo" width="80">
                          <img src="../static/images/unair.png" alt="University Logo" class="university-logo" width="80">
                          <img src="../static/images/upn.png" alt="University Logo" class="university-logo" width="80">
                          <img src="../static/images/jombang.png" alt="University Logo" class="university-logo" width="80">
                          <img src="../static/images/semarang.png" alt="University Logo" class="university-logo" width="80">
                      </div>
                  </div>
              </div>
              <div class="row pt-3 text-center">
                  <div class="col-md-12">
                      <div class="border-top pt-3">
                          <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> 4 Sehat 5 Sempurna Constellar</p>
                      </div>
                  </div>
              </div>
          </div>
      </footer>
      
      
      

    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/jquery-migrate-3.0.0.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/jquery.sticky.js"></script>
    <script src="../static/js/jquery.waypoints.min.js"></script>
    <script src="../static/js/jquery.animateNumber.min.js"></script>
    <script src="../static/js/jquery.fancybox.min.js"></script>
    <script src="../static/js/jquery.stellar.min.js"></script>
    <script src="../static/js/jquery.easing.1.3.js"></script>
    <script src="../static/js/bootstrap-datepicker.min.js"></script>
    <script src="../static/js/isotope.pkgd.min.js"></script>
    <script src="../static/js/aos.js"></script>

    <script src="../static/js/main.js"></script>

</body>

</html>
